extends base

block append head
    link(rel="stylesheet", href="/css/edit_project.css")

block append content
    - project = project || {}
    section.page-content-head
        div.container
            h1.page-title= (mode === "edit") ? "Edit project info" : "Add new project"
    section.edit-project.container
        - if (mode === "edit")
            ul.categories
                li.category(class= (!project.category) ? "active" : "")
                    a(href="/home") All
                li.category(class= (project.category === "print") ? "active" : "")
                    a(href="/home?category=print") Print
                li.category(class= (project.category === "photography") ? "active" : "")
                    a(href="/home?category=photography") Photography
                li.category(class= (project.category === "web") ? "active" : "")
                    a(href="/home?category=web") Web
                li.category(class= (project.category === "applications") ? "active" : "")
                    a(href="/home?category=applications") Applications
        form#edit-project-form.edit-project-form(
            method="POST"
            action="/uploads"
            enctype="multipart/form-data"
            data-edit-method= (mode === "edit") ? "PUT" : ""
            data-project-id= (mode === "edit") ? project.id : ""
        )
            lavel.add-project-image
                - if (mode === "edit")
                    img(src= project.src)
                input#project-image-input.edit-project-form__image(type="file" name="projectImage")
            div.edit-project-form__project-main
                input.edit-project-form__control(
                    name="title"
                    placeholder="Project title"
                    value= (project.title) || ""
                )
                input.edit-project-form__control(
                    name="author"
                    placeholder="Project author"
                    value= (project.author) || ""
                )
                input.edit-project-form__control(
                    name="category"
                    placeholder="Category"
                    value= (project.category) || ""
                )
            input.edit-project-form__description(
                name="description"
                placeholder="Description"
                value= (project.description) || ""
            )
            input.edit-project-form__submit(
                type="submit"
                value="Done"
            )
    script(src="/js/edit_project.js")